<input
    type="text"
    class="mb-2 border py-2 px-4 w-full"
    placeholder="Filter product..."
    [(ngModel)]="term"
  />

  <!-- <h1 class="text-3xl font-bold underline">hello {{ title | titlecase }}</h1> -->

  <p
    *ngIf="loading"
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-3xl font-bold"
  >
    Loading....
  </p>

  <div *ngIf="productsService.products">
    <app-product
      *ngFor="let product of productsService.products | filterProduct : term; let i = index"
      [product]="product"
    ></app-product>
  </div>

  <app-modal *ngIf="modalService.isVisible$ | async" title="create new Product">
    <app-create-product></app-create-product>
  </app-modal>

  <button
    class="fixed right-5 bottom-5 py-2 px-4 bg-blue-600 text-white rounded"
    *ngIf="modalService.isVisible$ "
    (click)="modalService.open()"
  >
    show modal
  </button>